.DS_Store
#DS store
.DS_Store
/.DS_Store
/out
.*.DS_Store

.cache
#cache
/.cache
.*.cache

.firebase
#firebase
/.firebase
.*.firebase

.production/2020/*
production/2020/*

.production/2021/*
production/2021/*

.production/2022/*
production/2022/*

.production/2023/*
production/2023/*

.design/2023/*
design/2023/*



