/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* ====== Global ====== */

.showMobile {display: inline-block!important;}

.hideMobile {display: none!important;}

body {
    background-color: #112338;
    background: linear-gradient(306.43deg, #0D1B2B 26.85%, #10233A 57.71%, #142A46 100%), #112338;
}

h1 {
    color: #fff;
    font-family: GT Super, Times New Roman, serif;
    font-style: normal;
    font-weight: 600;
    font-size: 2.5em;
    line-height: 1.15em;
    margin: 0 0 0.25em 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h2 {
    color: #fff;
    font-family: GT Flexa, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 1.0625em;
    line-height: 1.5em;
    margin: 0 0 0.25em 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-transform: uppercase;
}

p {
    color: #fff;
    font-family: GT Flexa, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1em;
    line-height: 1.5em;
    margin: 0 0 1em 0;
    opacity: 0.92;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    color: #FFAE9C;
    transition: all 0.3s ease;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-decoration: none;
    opacity: 1;
    text-decoration-thickness: 0.0625rem;
    text-underline-offset: 0.2em;
}



.g_margin256 {
    margin-top: 256px;
}

.g_margin196 {
    margin-top: 196px;
}

.g_margin164 {
    margin-top: 164px;
}

.g_margin128 {
    margin-top: 128px;
}

.g_margin64 {
    margin-top: 64px;
}

.g_margin32 {
    margin-top: 32px;
}

.g_margin24 {
    margin-bottom: 24px;
}

.g_margin16 {
    margin-top: 16px;
}

.g_margin8 {
    margin-top: 8px;
}


.logo_image {
    width: 100%;
    height: auto;
    margin: 128px 0 96px 0;
}

.img_partner_logo {
    width: 100%;
    height: auto;
    margin: 12px 0 0 0;
    transition: all 0.3s ease;
}

.g_listButton {
    display: block;
    width: 100%;
    text-align: left;
    border: none;
    border-top: 1px solid #253E5B;
    background: none;
    color: #FFAA97;
    padding: 1em 0;
    font-family: GT Flexa, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 1em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transition: all 0.3s ease;
    cursor: pointer;
    text-decoration: none;
}

.g_listButton_icon {
    display: inline-block;
    float: right;
    padding: 0.25em 0.5em 0 0;
    transition: all 0.3s ease;
}

.hp_contactFormCopyCont {
    display: flex;
    margin: 0 0 16px 0;
    width: 100%; 
}

.hp_contactFormCopyInput {
    /*width: calc(100% - 18px);*/
    padding: 0 18px 0 18px;
    height: 3.5rem;
    line-height: 3.5rem;
    border: none;
    border-radius: 1.75rem;
    background: #1D3553;
    color: #FFAA97;
    font-family: GT Flexa, Helvetica, sans-serif;
    font-style: normal;
    font-size: 1em;
    font-weight: 500;
    text-align: left;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-decoration: none;
}

.hp_contactFormCopyButton {
    padding: 0;
    margin-left: -3.5rem;
    width: 3.5rem;
    height: 3.5rem;
    border: none;
    border-radius: 1.75rem;
    background: none;
    color: #ffffff;
    transition: all 0.3s ease;
    cursor: pointer;
}

.footerCont {
    padding: 48px 0 24px 0;
    background: #142A46;
    font-size: 0.8125rem;
}

.gtSuper {
    font-family: GT Super, Times New Roman, serif;
    font-style: normal;
    font-weight: 600;
}

.gtFlexa {
    font-family: GT Flexa, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 600;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */



@media only screen and (min-width: 480px) {

    h1 {
        font-size: 3em;
        margin: 0 0 0.5em 0;
    }

    .logo_image {margin: 96px 0 24px 0;}

    .img_partner_logo {margin: 24px 0 0 0;}

    .hp_contactFormCopyInput {
        font-size: 1.1875em;
        /*width: 80%;*/
    }

    ./*hp_contactFormCopyInputCall {width: 65%;}*/
}


@media only screen and (min-width: 768px) {

    .showMobile {display: none!important;}

    .hideMobile {display: inline-block!important;}

    .logo_image {margin: 164px 0 0 0;}

     
    .img_partner_logo:hover {
         filter: brightness(115%);
         transform: scale(1.15);
    }
     

    .g_listButton:hover {
         background: #1D3553;
         text-decoration: none;
         padding: 1em 0 1em 1em;
         width: calc(100% - 1em);
    }

    a:hover, a:active {text-decoration: underline;}

    .g_listButton:hover .g_listButton_icon {padding: 0.25em 1em 0 0;}

    .hp_contactFormCopyInput {
        font-size: 1.1875em;
        width: calc(95% - 18px);
        color: #fff;
        font-weight: 400;
    }

    .hp_contactFormCopyInputCall {width: calc(75% - 18px);}
     
    .hp_contactFormCopyButton:hover, .hp_contactFormCopyButton:active {background: #535163;}
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:first-letter,
    *:first-line {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
